@using ProjetoDeEstagio2
@using ProjetoWeb.Models

@model Aluno


@{
    var lista = new[]
    {
        new Sexo {CategoriaId = 0, Nome = "Selecione"},
        new Sexo {CategoriaId = 1, Nome = "Masculino"},
        new Sexo {CategoriaId = 2, Nome = "Feminino"},
    };
    var listaDeSexos = new SelectList(lista, "CategoriaId", "Nome", Model);
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <link rel="stylesheet" href="StyleSheet.css">

    <div class="form-horizontal">
        <h4>Adicionar Aluno</h4>
        <div>
            @Html.ActionLink("Ir para a lista de alunos", "SelecionarAluno")
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="row">
                <table>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.Matricula, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Matricula, new { htmlAttributes = new { @class = "form-control", @oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", @maxlength = "9"}})
                            @Html.ValidationMessageFor(model => model.Matricula, "*", new { @class = "text-danger" })
                        </th>
                        <th>
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-10" })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "*", new { @class = "text-danger" })
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <table>
                    <tr>
                        <th>
                            <br>
                            @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-sm" })<br>
                            @Html.DropDownListFor(model => model.Sexo, listaDeSexos, new { @class = "btn-sm dropdown-toggle-split" })<br>
                            @Html.ValidationMessageFor(model => model.Sexo, "*", new { @class = "text-danger" })
                        </th>
                        <th>
                            <br>
                            @Html.LabelFor(model => model.Nascimento, htmlAttributes: new { @class = "control-label col-md-2" })<br>
                            @Html.EditorFor(model => model.Nascimento, new { htmlAttributes = new { @class = "form-control" }})
                            @Html.ValidationMessageFor(model => model.Nascimento, "*", new { @class = "text-danger"})
                        </th>
                        <th>
                            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })          
                            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger"})
                        </th>
                    </tr>
                </table>                
            </div>
        </div>        
    </div>
    <br />
    <br />
    <div class="container">        
        <div class="row">
            <table>
                <tr>
                    <th>
                        <input type="submit" value="Salvar" class="btn btn-success" onclick="checaCamposVazios()"/>
                        <input type="button" class="btn btn-secondary" value="Limpar" onclick="location.href='@Url.Action("AdicionarAluno", "Aluno")'" />
                    </th>
                    <th>
                        <input type="button" class="btn btn-secondary" value="Voltar" onclick="location.href='@Url.Action("Index", "Home")'" />
                    </th>
                </tr>
            </table>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="color:green">
                @ViewBag.Message
            </div>
        </div>    
    </div>
}

<script type="text/javascript" language="javascript">

    function checaCamposVazios(){

        var teste = false;

        if(document.getElementById("Matricula").value.length == 0){
            teste = true;
        }               
        if(document.getElementById("Nome").value.length == 0){
            teste = true;
        }
        if(document.getElementById("Sexo").value == 0){
            teste = true;
        }
        if(document.getElementById("Nascimento").value.length == 0){           
            teste = true;
        }               
        if (teste){
            alert("Preencha todos os campos obrigatórios");
        }                 
    }
</script>