@using EMRepository
@using ProjetoDeEstagio2
@model IEnumerable<Aluno>


<p>@Html.ActionLink("Adicionar novo Aluno", "Create")</p>

<div>
    <form asp-controller="Aluno" asp-action="PesquisarAluno" method = "post">
    <p>
        Pesquisar: <input type="text" name="idInserido" id="Pesquisa"/>
        <input type="submit" class="btn btn-primary" value="Pesquisar" id="btnPesquisa" disabled/>
        <input type="button" class="btn btn-primary" value="Voltar" onclick="location.href='@Url.Action("PesquisarAluno", "Aluno")'" />
    </p>
    </form>    
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <thead class="thead-light">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                <input type="button" class="btn btn-primary" value="Editar" onclick="location.href='@Url.Action("Edit", "Aluno", new {matricula = item.Matricula})'" />
                <input type="button" class="btn btn-danger" value="Excluir" onclick="location.href='@Url.Action("Delete", "Aluno", new {matricula = item.Matricula})'" />
            </td>
        </tr>
    }
    </thead>
</table>

<script defer>

    adicioneEventos();
    function adicioneEventos()
    {
         document.getElementById("Pesquisa").addEventListener("input", function(event){

            var conteudo = document.getElementById("Pesquisa").value;

            if(conteudo != "" && conteudo != null){
                document.getElementById("btnPesquisa").disabled = false;
            }    
            else if(conteudo == "" || conteudo == null){
                document.getElementById("btnPesquisa").disabled = true;
            }
            if(conteudo == "" || conteudo == null && document.getElementById("btnPesquisa").disabled){
                window.location.href = '@Url.Action("SelecionarAluno", "Aluno")';
            }
            
        });
    }


</script>