@using EMRepository
@using ProjetoDeEstagio2
@model IEnumerable<Aluno>


<p>
    @Html.ActionLink("Adicionar novo Aluno", "AdicionarAluno")
</p>

<script>
    document.getElementById("btnPesquisa").disabled = true;

    document.getElementById("Pesquisa").addEventListener("Pesquisa", function(event){

        var conteudo = document.getElementById("Pesquisa").value;

        if(conteudo !== null && conteudo !== ''){
            document.getElementById("btnPesquisa").disabled = false;
        }
        else{
            document.getElementById("btnPesquisa").disabled = true;
        }
    });
</script>

<div>
    <form asp-controller="Aluno" asp-action="SelecionarAluno" method = "post">
    <p>
        Pesquisar: <input type="text" name="idInserido" id="Pesquisa"/>
        <input type="submit" class="btn btn-primary" value="Pesquisar" id="btnPesquisa"/>
        <input type="button" class="btn btn-primary" value="Voltar" onclick="location.href='@Url.Action("Index", "Home")'" />
    </p>
    </form>    
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                <input type="button" class="btn btn-primary" value="Editar" onclick="location.href='@Url.Action("AtualizarAluno", "Aluno", new {matricula = item.Matricula})'" />
                <input type="button" class="btn btn-danger" value="Excluir" onclick="location.href='@Url.Action("Delete", "Aluno", new {matricula = item.Matricula})'" />
            </td>
        </tr>
    }
</table>